* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video__container{
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
}

.video__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: white;
}

.player{
    max-width: 800px;
    height: 100%;
    border-radius: 30px;
}

.video{
    width: 100%;
    border-radius: 30px 30px 0 0;
}

.controls{
    display: flex;
    align-items: center;
    margin-top: -5px;
    padding: 20px 30px;
    background: rgb(90, 90, 171);
    border-radius: 0 0 30px 30px;
}

.controls__play,
.controls__pause,
.controls__volume,
.controls__mute,
.controls__settings,
.controls__fullscreen{
    margin-right: 10px;
}

.play,
.pause,
.volume,
.mute,
.settings,
.fullscreen{
    background: transparent;
    border: none;
    cursor: pointer;
}

.play:hover,
.pause:hover,
.volume:hover,
.mute:hover,
.settings:hover,
.fullscreen:hover{
    transform: scale(1.3);
}

.controls__volume{
    margin-left: auto;
    /* margin-left: 10px; */
}

.controls__progress{
    flex: 1;
    padding-right: 10px;
}

.controls__progress input{
    width: 100%;
    cursor: pointer;
}

.controls__play img,
.controls__pause img,
.controls__volume img,
.controls__mute img,
.controls__settings img,
.controls__fullscreen img{
    width: 20px;
}