.sub-header{
    background-color: var(--shaft-background-color);
}

.sub-header__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.sub-header__list{
    display: flex;
}

.sub-header__list a{
    text-decoration: none;
    color: var(--white-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-right: 30px;
}

.sub-header__list li:last-child a{
    margin-right: 0px;
}

.sub-header__list a.phone::before,
.sub-header__list a.truck::before {
    position: relative;
    bottom: -2px;
    margin-right: 10px;
    font-family: var(--Icon);
    font-size: 17px;
    color: var(--white-text-color);
}

.sub-header__list a.phone::before {
    content: "\e90c";
}

.sub-header__list a.truck::before {
    content: "\e90b";
}