.banner-top__wrapper {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../images/image-banner-top.jpg);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 282px 0 185px 0;
    justify-content: center;
    align-items: center;
}

.banner-container{
    display: flex;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.banner-top__content { 
    display: flex;
    max-width: 670px;
    flex-direction: column;
    align-items: flex-start;
}

.banner-top__form {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    max-width: 470px;
    height: 450px;
    background: #FFFFFF;
    border-radius: 10px;
}

.banner-top__logo {
    padding-bottom: 20px;
}

.banner-top__text { 
    padding-top: 30px;
}

.banner-text__title {
    display: flex;
    align-items: center;
    padding-bottom: 55px;
}

.banner-text__title h1 { 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.divider-banner{ 
    display: block;
    width: 170px;
    border: 1px solid #FFFFFF;
}

.banner-text__description{
    padding: 12px 0;
}

.banner-text__description h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    max-width: 270px;
}

.banner-top__btn {
    width: 270px;
    height: 58px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    display: block;
    cursor: pointer;
    color: #FFFFFF;
}

.banner-top__btn:hover{
    color: #EC7979;
    border: 2px solid #EC7979;
}

.banner-top__btn:active{
    background: #AB4949;
    border: 2px solid #AB4949;
}

.banner-form__wrap{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 0 50px;
}

.banner-form__title h4 {
    padding: 33px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.banner-form__title span {
    color: #EC7979;
}

.banner-top__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    padding: 16px 0;
    margin-bottom: 20px;
}

.banner-top__input:last-child{
    margin-bottom: 0;
}

.banner-top__input::placeholder{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #BDBDBD;
}

.banner-form__btn {
    width: 470px;
    height: 60px;
    background: #EC7979;
    border-radius: 0px 0px 10px 10px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    display: block;
    cursor: pointer;
    color: #FFFFFF;
    }

.banner-form__btn:hover{
    color: #FFFFFF;
    color: #EC7979;
    border: 2px solid #EC7979;
}

.banner-form__btn:active{
    color: #FFFFFF;
    background: #AB4949;
    border: 2px solid #AB4949;
}

@media screen and (max-width: 1200px){
    .banner-container{
        max-width: 1024px;
    }

    .banner-top__wrapper {
        padding: 202px 0 131px 0;
    }

    .header__logo {
        margin-left: 35px;
    }
}

@media screen and (max-width: 1024px){
    .banner-container{
        max-width: 1024px;
    }

    .banner-top__content{
        margin-left: 115px;
    }

    .divider-banner{ 
        width: 117px;
    }

    .banner-top__text{
        padding-top: 14px;
    }

    .banner-text__title{
        padding-bottom: 41px;
    }

    .banner-text__title h1 {
    font-size: 36px;
    line-height: 42px;
    }


    .banner-top__form {
        max-width: 398px;
    }

    .banner-form__title h4 {
        font-size: 18px;
        line-height: 25px;
    }

    .banner-text__description{
        padding: 9px 0;
    }

    .banner-text__description h5 {
        font-size: 14px;
        line-height: 16px;
    }

    .banner-form__btn{
        width: 398px;
    }

    .banner-top__btn {
        width: 183px;
        height: 50px;
    }

}

@media screen and (max-width: 850px){
    ul.menu__list {
        flex-wrap: wrap;
    }

    .banner-container {
        max-width: 600px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner-top__wrapper {
        padding: 170px 0 90px 0;
    }

    .banner-top__content {
        max-width: 300px;
    }

    .banner-form__wrap {
        padding: 0 28px;
    }

    .banner-top__form {
    max-width: 288px;
    height: 381px;
    }

    .banner-form__title h4 {
        font-size: 14px;
        line-height: 19px;
    }

    .banner-top__button{
        margin-bottom: 56px;
    }

    .banner-form__btn{
        width: 288px;
    }
}

@media screen and (max-width: 320px){
    .banner-top__wrapper {
        padding: 144px 0 90px 0;
    }
    
    .banner-container{
        max-width: 288px;
    }

    .banner-top__logo {
        display: none;
    }
    .banner-top__content {
        max-width: 288px;
        align-items: center;
        text-align: center;
        margin: 0 16px;
    }

    .divider-banner{ 
        display: inline-block;
        width: 134px;
    }

    .banner-text__title {
        padding-bottom: 31px;
    }

    .banner-top__btn {
        width: 288px;
    }
}


