.banner-two__wrapper {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/image.png);
    background-size: 100%;
}

.divider_white {
    border: 1px solid #FFFFFF;
}

.banner-two__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
}


.banner-two__title h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    padding: 54px 0;
}

.banner-two__description h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.banner-two__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 33px 0 50px 0;
}


.banner-two__btn {
    width: 370px;
    height: 58px;
    border: 2px solid #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background-color: transparent;
}

.banner-two__btn:hover{
    color: #EC7979;
    border: 2px solid #EC7979;
}

.banner-two__btn:active{
    color: #FFFFFF;
    background: #AB4949;
    border: 2px solid #AB4949;
}

@media screen and (max-width: 1024px){
    .banner-two__header{
        padding: 50px 0 0 0;
    }

    .banner-two__title h2 {
        font-size: 24px;
        line-height: 28px;
        padding: 48px 0;
    }

    .banner-two__description{
        margin: 9px 0;
    }

    .banner-two__description h5 {
        font-size: 14px;
        line-height: 16px;
    }

    .banner-two__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0 50px 0;
    }

    .banner-two__btn {
        width: 318px;
    }

}

@media screen and (max-width: 850px){
    .banner-two__header{
        padding: 50px 0 0 0;
    }

    .banner-two__title h2 {
        font-size: 24px;
        line-height: 28px;
        padding: 48px 0;
    }

    .banner-two__description{
        margin: 9px 0;
    }

    .banner-two__description h5 {
        font-size: 14px;
        line-height: 16px;
    }

    .banner-two__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0 50px 0;
    }

    .banner-two__btn {
        width: 318px;
    }
}

@media screen and (max-width: 350px){
    .banner-two__btn {
        width: 232px;
        height: 58px;
    }
}


@media screen and (max-width: 320px){
    .banner-two__title h2 {
        padding-bottom: 46px;
    }

    .banner-two__title h2 {
        padding: 0px 0;
    }

    .banner-two__description h5 {
        margin: 16px auto;
    }


    .banner-two__button {
        padding: 0px 0 58px 0;
    }
    
    .banner-two__btn {
        width: 287px;
    }

    .divider_white {
        margin-top: 46px;
    }
}
