.header {
    background: #000000;
}

.header__wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.header__row {
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo { 
    margin: 0 0 0 -50px;
}

.header__logo {
    max-width: 183px;
}

.menu__list { 
    display: flex;
    align-items: center;
    text-align: center;
}

.menu__link { 
    padding: 0 25px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}
