.social {
    background-color: #F8EFEF;
}

.social__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-text {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 140px;
    margin-right: 50px;
}

.social-text__title {
    padding: 20px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #333333;
}

.social-text__descr {
    max-height: 42px;
    max-width: 453px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #86878B;
    margin-bottom: 18px;
}

.social-icons__list {
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.social-icons__list img:hover{
    transform: scale(1.2);
    transition: all ease-in-out 0.3s;
}


.social-icons__list li {
    padding-right: 30px;
}

.social-icons__list li:last-child {
    padding-right: 0;
}


@media screen and (max-width: 1024px){
    .social-text{
        max-width: 363px;
    }

    .social-text__title{
        padding: 14px 0;
        font-size: 18px;
        line-height: 25px;
    }

    .social-text__descr{
        font-size: 14px;
        line-height: 16px;
    }

    .social-icons__list li {
        padding-right: 25px;
    }
}

@media screen and (max-width: 850px){
    .social__wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 420px){
    .social__icons{
        padding-bottom: 44px;
    }
}

@media screen and (max-width: 320px){
    .social-text__title{
        padding: 31px 0;
        justify-content: center;
    }

    .social-text__descr{
        text-align: center;
    }

    .social__icons{
        padding-bottom: 44px;
    }

    .social-icons__list img{
        width: 28px;
        height: 26px;
    }

    .social-icons__list {
        margin-bottom: 44px;
    }

    .social-icons__list li {
        padding-right: 15px;
    }
}

