.tabs__list {
    padding: 98px 0 50px 0;
}

.tabs__wrapper>input[type="radio"] {
    display: none;
}

.tabs__wrapper>div {
    display: none;
    border: 1px solid #C6CBCD;
}

#tabs_btn-one:checked~#tabs__content-one,
#tabs_btn-two:checked~#tabs__content-two,
#tabs_btn-three:checked~#tabs__content-three {
    display: block;
}

.tabs__wrapper>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
    width: 184px;
    height: 40px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;  
    text-transform: uppercase;
}

.tabs__wrapper>input[type="radio"]:checked+label {
    border: 1px solid #C6CBCD;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    background: #fff;
    top: 1px;
    position: relative;
    width: 203px;
    height:40px;
}

.tabs__content-wrapper { 
    display: flex;
}

.tabs__title {
    padding: 41px 0;
}

.tabs__title h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
}

.tabs__block-text {
    max-width: 700px;
    margin: 0 30px 0 100px;
    padding-bottom: 54px;
}

.tabs__text{
    max-width: 570px;
    /* white-space: pre-line; */
}

.tabs__text h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
}

.tabs__btn {
    width: 270px;
    height: 58px;
    background-color: #EC7979;
    color: #fff;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    display: block;
    cursor: pointer;
}

.tabs__btn:hover{
    background: #AB4949;
}

.tabs__btn:active{
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.tabs__image {
    max-height: 500px;
} 